<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomJob1Settings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="CustomJob2Settings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--Global configuration (app wide)-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Logging.apiKey" value="YOUR_API_KEY_HERE"/>
    <add key="Logging.baseUrl" value=""/>
    <add key="Logging.apiKey" value=""/>
    <add key="ExampleWorkspace" value="Resources\\USER@DB@SCHEMA.sde"/>
  </appSettings>
    <!--Individual configuration -->
    <CustomJob1Settings>
      <add key="FilePath" value=".\Resources"/>
      <add key="OutputPath" value=".\Output\docStatTest.json"/>
    </CustomJob1Settings>
  <CustomJob2Settings>
    <add key="ExampleWorkspace" value="Resources\\USER@DB@SCHEMA.sde"/>
    <add key="TBFeatures" value="TBMAP"/>
  </CustomJob2Settings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /> 
    </startup>

</configuration>